* {
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    
}

.slogan {
    position: absolute;
    bottom: 0;
    left: 5%;
width: 100%;
}

#tagline{
     color: white;
     background : linear-gradient(to top, rgba(80,68,18, 0.6) 10% , transparent), url("./Images/freedom.jpg") bottom 80% center /cover no-repeat border-box, red;
     width: 100vw;
     height: 33vh;
     position: relative;  
 }

 
.first-heading{
    font-size: 1.8rem;
    color: #2ddf5c;
    text-align: center;
}

.plan {
   background: #2159E5;
   text-align: center;
   padding: 1.2rem;
   margin: 0.6rem 0;
   width: 100%;
}

.recommended {
    background: #1D7CF2;
    
}

.plan__annotation {
    background: white;
    color: green;
    padding: 0.5rem;
    box-shadow: 2px 2px 8px 2px black;
    border-radius: 8px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid black;
    border-radius: 16px;
}

.plan__feature {
    margin: 0.6rem 0;
}

.plan__title {
    color: white;
}

.core__feature__title {
      color: white;
      margin: 2rem;
      text-align: center;
      font-size: 1.6rem;
}

#core__feature {
    background: #0a54b0 ;
    margin-top: 5rem;
    padding: 1.2rem;
}

.core__feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}



.core__feature__image {
    background: #727272;
    width: 130px;
    height: 130px;
    border: 2px solid black;
    border-radius: 80px;
    margin:  auto;
    padding: 1.2rem;
}


.core__feature__desc {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }


  @media (min-width: 40rem) and (min-height: 40rem) {
    .slogan {
        font-size: 1.8rem;
    }

    #tagline { 
        height: 40vh;
    }
}

@media (min-width: 40rem)  {
    .core__features {
        width: 30%;
        max-width: 23rem;
    }

    .core__feature__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 40rem) {
    .plan {
        width:30%;
        min-width: 20rem;
        max-width: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30rem;
    }

    .plan-div {
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
     }  

     .recommended {
        box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.5) ;
        height: 32rem;
        z-index: 70;
     }
}
